@model IEnumerable<CheckoutVM>
<!-- Orders list-->
@if (Model.Any())
{
    <div class="table-responsive fs-md mb-4">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>Date Purchased</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Restaurant</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var checkout in Model)
                {
                    <tr>
                        <td class="py-3">@checkout.CreatedDate</td>
                        @switch (checkout.Status)
                        {
                            case "Delivered":
                                <td class="py-3"><span class="badge bg-success m-0">@checkout.Status</span></td>
                                break;
                            case "Canceled":
                                <td class="py-3"><span class="badge bg-danger m-0">@checkout.Status</span></td>
                                break;
                            default:
                                <td class="py-3"><span class="badge bg-info m-0">@checkout.Status</span></td>
                                break;
                        }
                        <td class="py-3">$@checkout.TotalPrice</td>
                        <td class="py-3">@checkout.Restaurant</td>
                        <td>
                            @if (checkout.Status == "Delivered" && checkout.Review == null)
                            {
                                <button data-checkoutId="@checkout.Id"
                                        class="btn btn-outline-primary btn-sm toggle-create"
                                        data-bs-toggle="modal"
                                        data-bs-target="#review-create-modal">
                                    Add review
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-outline-primary btn-sm" disabled="">
                                    Add review
                                </button>
                            }
                            <a class="btn btn-info btn-sm checkout-detail" data-id="@checkout.Id">
                                View details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-checkout-detail" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div id="checkout-info" class="modal-content">
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center pt-lg-4 text-center">
        <div class="col-lg-5 col-md-7 col-sm-9">
            <h1 class="h3">Your don't have any orders </h1>
        </div>
    </div>
}
