@model List<AboutVM>

@{
    ViewData["Title"] = "About";
}

@for (int i = 1; i <= Model.Count - 1; i++)
{
    if (i % 2 != 0)
    {
        <section class="row g-0">
            <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(@Model[i].Image);"></div>
            <div class="col-md-6 px-3 px-md-5 py-5">
                <div class="mx-auto py-lg-5" style="max-width: 35rem;">
                    <h2 class="h3 pb-3">@Model[i].Title</h2>
                    <p class="fs-sm pb-3 text-muted">@Model[i].Description</p>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="row g-0">
            <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(@Model[i].Image);"></div>
            <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
                <div class="mx-auto py-lg-5" style="max-width: 35rem;">
                    <h2 class="h3 pb-3">@Model[i].Title</h2>
                    <p class="fs-sm pb-3 text-muted">@Model[i].Description</p>
                </div>
            </div>
        </section>
    }
}



