@model HeaderVMVC


<header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-none d-sm-block me-4 order-lg-1" asp-controller="Home" asp-action="Index">
            <img src="@Model.Settings["Logo"]" width="56" style="height:56px" alt="Cartzilla">
        </a>
        <div class="navbar-toolbar d-flex align-items-center order-lg-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox">
                <span class="navbar-tool-tooltip">Search</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
            </a>
            @if (User.Identity != null && !User.Identity.IsAuthenticated)
            {
                <a class="navbar-tool ms-2" href="#signin-modal" data-bs-toggle="modal">
                    <span class="navbar-tool-tooltip">Account</span>
                    <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                </a>
            }
            <div class="navbar-tool dropdown ms-3">
                <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" asp-controller="Cart" asp-action="Index">
                    <span id="menu-count" class="navbar-tool-label @(Model.BasketCount == 0 ? "d-none" : "")">@Model.BasketCount</span>
                    <i class="navbar-tool-icon ci-cart"></i>
                </a>
            </div>

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="navbar-tool dropdown ms-4">
                    <div class="navbar-tool-icon-box" style="border-radius: 50% !important;">
                        <img id="header-pic" src="@ViewBag.ProfilePic" style="border-radius: 50% !important;" alt="profile-pic" />
                    </div>
                </div>
                <ul class="navbar-nav navbar-mega-nav ms-lg-4 pe-lg-2 me-lg-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i></i>@User.Identity.Name</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="UserProfile" asp-action="Index">Profile</a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Go to Admin</a>
                                </li>
                            }
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" class="dropdown-item" value="Logout" />
                            </form>
                        </ul>
                    </li>
                </ul>
            }
        </div>
        <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
            <!-- Search (mobile)-->
            <div class="d-lg-none py-3">
                <div class="input-group">
                    <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input autocomplete="off" class="form-control rounded-start px-5" type="text" placeholder="What do you need?">
                </div>
            </div>
            <!-- Location dropdown-->
       @*      <ul class="navbar-nav navbar-mega-nav ms-lg-4 pe-lg-2 me-lg-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-location me-2"></i>New York</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Los Angeles</a></li>
                        <li><a class="dropdown-item" href="#">Chicago</a></li>
                        <li><a class="dropdown-item" href="#">Houston</a></li>
                        <li><a class="dropdown-item" href="#">Philadelphia</a></li>
                        <li><a class="dropdown-item" href="#">San Diego</a></li>
                        <li><a class="dropdown-item" href="#">Miami</a></li>
                    </ul>
                </li>
            </ul> *@
            <!-- Primary menu-->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" asp-controller="Restaurant" asp-action="Index">Restaurants</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" asp-controller="About" asp-action="Index">About</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Search collapse-->
    <div class="search-box collapse" id="searchBox">
        <div class="container py-2">
            <form method="get" asp-controller="Restaurant" asp-action="Search" class="position-relative">
                <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3" style="top: 22px !important;"></i>
                <input autocomplete="off" id="input-search" class="form-control rounded-start d-block px-5" type="text" name="searchText" placeholder="What do you need?">
                <div id="search-area" class="row pt-3 w-75 m-auto">
                   
                </div>
            </form>
        </div>
    </div>
</header>
