@model RestaurantDetailVM

@{
    ViewData["Title"] = Model.Name;
}

<section class="bg-darker bg-size-cover bg-position-center py-5" style=" background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('@Model.RestaurantImages.FirstOrDefault(m => !m.IsMain)?.Url') no-repeat center center;">
    <div class="container py-md-4">
        <h1 class="text-light text-center text-lg-start py-3">@Model.Name</h1>
    </div>
</section>
<nav class="container mt-n5">
    <div class="d-flex align-items-center bg-white rounded-3 shadow-lg py-2 ps-sm-2 pe-4 pe-lg-2">
        <div class="ps-lg-3 w-100 text-end">
            <!-- For desktop-->
            <ul id="tab-header" class="nav nav-tabs d-none d-lg-flex border-0 mb-0">
                <li class="nav-item"><a data-id="0" class="nav-link active" href="">All</a></li>
                @foreach (var category in Model.Menus.Select(m => m.Category).GroupBy(c => c.Name).Select(c => c.First()))
                {
                    <li class="nav-item"><a data-id="@category.Id" class="nav-link" href="">@category.Name</a></li>
                }
            </ul>
            <!-- For mobile-->
            <div class="btn-group dropdown d-lg-none ms-auto">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ci-menu fs-base me-2"></i>Menu</button>
                <div class="dropdown-menu dropdown-menu-end">
                    @foreach (var menu in Model.Menus)
                    {
                        <a class="dropdown-item fs-base" href="">@menu.Category.Name</a>
                    }
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="container tab-content py-4 py-sm-3">
    <a class="mx-3" href="#modal-info" data-bs-toggle="modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
        See more information
    </a>
    <i class="fa-solid fa-star" style="color: #fe9f41;" aria-hidden="true"></i>
    <span>@Model.AverageRating.ToString("F1") (@Model.Reviews.Count())</span>
    <div id="favourites" data-restaurantId="@Model.Id" class="mx-4 d-flex justify-content-between align-items-center" style="float:right">
        <input data-restaurantId="@Model.Id" id="menu-search" style="border-radius:1.25rem !important;margin-right:2rem !important;width:250px" class="form-control form-control-sm" autocomplete="off" placeholder="Search in @Model.Name..." type="text" />
        @if (!User.Identity.IsAuthenticated)
        {
            <div>
                <button class="btn" style="all:unset;padding:0;cursor:pointer" data-bs-toggle="modal" data-bs-target="#signin-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                </button>
            </div>
        }
        else if (!Model.IsFavourite)
        {
            <div>
                <button class="btn" style="all:unset;padding:0;cursor:pointer" id="add-favourite">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                </button>
            </div>
        }
        else
        {
            <div>
                <button id="delete-favourite" style="all:unset;padding:0;cursor:pointer" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="#ff0000" class="icon icon-tabler icons-tabler-filled icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" /></svg>
                </button>
            </div>
        }
    </div>
    <div id="menu-area" class="row pt-3 pt-sm-0 mt-5">
        <!-- Item-->
        @foreach (var menu in Model.Menus)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter content" data-id="@menu.Category.Id">
                <a data-id="@menu.Id" href="" class="d-block menu-detail">
                    <img class="card-img-top" style="height:150px" src="@menu.Image" alt="Pizza">
                    <div class="card product-card border pb-2">

                        <div class="card-body pt-1 pb-2">
                            <h3 class="product-title fs-md">@menu.Name</h3>
                            <p class="fs-ms text-muted">@string.Join(", ", menu.Ingredients.Take(4))</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="product-price"><span class="text-accent">$@menu.Price</span></div>
                                 <button class="btn btn-primary btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
        <!-- Item-->
    </div>
    <div class="modal fade" id="quick-view" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div id="menu-detail" class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-info" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div id="restaurant-info" class="modal-content">
                <div class="modal-header">
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container mt-2">
                    <h3 style="font-weight:bold">@Model.Name</h3>
                    <p>@Model.Description</p>
                    <h3 class="mt-4">Address</h3>
                    <p>@Model.Address</p>
                    <h3 class="mt-4">Delivery information</h3>
                    <div class="d-flex justify-content-between">
                        <p class="my-0">Delivery fee</p>
                        <span class="fs-sm">$@Model.DeliveryFee</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="my-0 text-dark">Estimated delivery time</p>
                        <span class="fs-sm">@Model.MinDeliveryTime min</span>
                    </div>
                    <div class="my-4">
                        <h3>Contact</h3>
                        <div class="d-flex justify-content-between">
                            <p class="my-0">Phone number</p>
                            <a href="tel:@Model.Phone">@Model.Phone</a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="my-0">Email</p>
                            <a href="mailto:@Model.Email">@Model.Email</a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="my-0">Website</p>
                            @if (Model.Website != null)
                            {
                                <a href="@Model.Website">@Model.Website</a>
                            }
                            else
                            {
                                <p class="my-0">N/A</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="review-area" class="py-5">
    <div class="container">
        <div class="row">
            <!-- customer reviews -->
            <!-- customer reviews list -->
            <div class="col-lg-8 col-md-7 col-12">
                <h4 class="mb-5" style="font-weight:bold">Ratings &amp; Reviews(@Model.Reviews.Count())</h4>
                @foreach (var review in Model.Reviews)
                {
                    <!-- reviews -->
                    <div class="mb-4 pb-4 border-bottom">
                        <div class="d-flex mb-3 align-items-center">
                            <img src="@review.UserImage" alt="" style="width: 3.125rem;height: 3.125rem;font-size: 1.04167rem;border-radius: 50% !important;">
                            <div class="ml-2 mx-2">
                                <h5 class="mb-1" style="font-size:17px">
                                    @review.UserName
                                </h5>
                                <p class="font-12 mb-0" style="font-size:13px">
                                    <span>@review.CreatedDate</span>
                                </p>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span class="font-14 mr-2">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <i class="@(i <= review.Rating ? "fas" : "far") fa-star text-warning"></i>
                                }
                            </span>
                        </div>
                        <p>@review.Comment</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section js {
    <script src="~/js/restaurant.js"></script>
}

