@model IEnumerable<RestaurantVM>

@{
    ViewData["Title"] = "Search";
}
<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5">
    <div class="container py-md-4">
        <h1 class="text-light text-center text-lg-start pt-3">Search results</h1>
    </div>
</section>
<section class="container py-4 py-sm-5 mt-5">
    <div class="row pt-3 pt-sm-0">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card product-card h-100 border-0 shadow pb-2" asp-action="Detail" asp-route-id="@item.Id">
                    <span class="badge badge-end badge-shadow bg-success fs-md fw-medium">@(item.MinDeliveryTime)-@(item.MinDeliveryTime + 10) min</span>
                    <img class="card-img-top" style="height:200px" src="@item.RestaurantImages.FirstOrDefault(m => m.IsMain)?.Url" alt="McDonald's">
                    <div class="card-body text-center pt-3 pb-4">
                        <h3 class="h5 mb-2">@item.Name</h3>
                        <div class="fs-ms text-muted">@string.Join(", ", item.Tags.Select(m => m.Name))</div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="product-price"><span class="text-accent">$@item.DeliveryFee</span></div>
                            <div>
                                <i class="fa-solid fa-star" style="color: #fe9f41;"></i>
                                <span class="text-dark">@item.AverageRating.ToString("F1")</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>

